.profimg {
    border-style: groove;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 800px;
}